.container {
    background-color: #fff0f6;
    position: relative;
    border: 1px solid #fff0f6;
    border-radius: 10px;
}
.container::before {
  content: ' ';
  height: 0;
  position: absolute;
  top: 16px;
  width: 0;
  z-index: 1;
  left: -10px;
  border: medium solid #fff0f6;
  border-width: 10px 10px 10px 0;
  border-color: transparent #fff0f6 transparent transparent;
}
